# Ignore node_modules in backend and frontend
backend/node_modules/
frontend/node_modules/

# Ignore environment files in all folders
**/.env
**/.env.*
# Keep example env files
!**/.env.example
!**/.env.*.example

instruction.txt