.header-container {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

#filterBatchCodeOptions label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px 10px;
  cursor: pointer;
  background: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: all 0.2s;
  font-size: 13px;
  min-width: 50px;
}

#filterBatchCodeOptions label.selected {
  background: #5b4ce8 !important;
  color: white !important;
  border-color: #5b4ce8 !important;
  font-weight: 500 !important;
}

.tab-button.active {
  padding: 10px 20px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  border-bottom: 3px solid #007bff;
  color: "#007bff",
  fontWeight: "bold",
}

.tab-button {
  padding: 10px 20px;
  border: none;
  background: none;
  cursor: pointer;
  font-size: 16px;
  border-bottom: 3px solid transparent;
  color: #666;
}

.batch-filter-label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  cursor: pointer;
  background: white;
  color: inherit;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  font-weight: normal;
  transition: all 0.2s ease;
}

.batch-filter-label input {
  margin-right: 8px;
  cursor: pointer;
  width: 16px;
}

/* hover khi CHƯA chọn */
.batch-filter-label:hover:not(.selected) {
  border-color: #007bff;
  box-shadow: 0 2px 4px rgba(0, 123, 255, 0.2);
}

/* khi được chọn */
.batch-filter-label.selected {
  background: #007bff;
  color: white;
  border-color: #0056b3;
  font-weight: 500;
}

/* hover khi đã chọn */
.batch-filter-label.selected:hover {
  background: #0056b3;
}
